/*Title Section*/
#barTitle {
  position: absolute;
  background-color: rgb(26, 26, 26);
  top: .2rem;
  height: 3rem;
  left: .2rem;
  right: .2rem;
  border-radius: 2.5vmin;
}

.headerText {
  width: 100%;
  position: absolute;
  color: rgb(169, 169, 169);
  font-size:.9rem;
  text-align: center;
  
}

.headerText .big {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
}

#barchartTitle {
  top: 0rem;
}

#barchartTitle .big {
  font-size: 1.1rem;
  color: rgb(214, 214, 214);
}

#barchartSubtitle {
  top: 1.1rem;
}

/*Chart*/

#chart_panel {
  position: absolute;
  /*
  background: radial-gradient(ellipse at 30% 20%, #575257, transparent),
    radial-gradient(ellipse at 60% 80%, #41464e, transparent);*/
  bottom: .2rem;
  left: .2rem;
  right: .2rem;
  border-radius: 2.5vmin;
  top: 3.6rem;
  background-color: rgb(78, 78, 78);
  cursor: default;
}

#chart_container {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  top: 0.3rem;
  background-color: rgba(133, 133, 133, 0);
  overflow: auto;
  scrollbar-width: thin;
}

#chart_container::-webkit-scrollbar {
  width: 0rem;
}

/*Tab Labels*/

.tab_label {
  position: absolute;
  background-color: rgb(29, 29, 29);
  border-top-left-radius: 1vb;
  border-bottom-left-radius: 1vb;
  height: 30px;
  width: 30px;
  border: solid rgb(29, 29, 29);
  cursor: grab;
  z-index: 999;
}

.tab_label:active {
  cursor: grabbing;
}

#addChart{
  position: relative;
  height: 1.8rem;
  width: 1.8rem;
  left: 9px;
  cursor: pointer;
  font-size: .5rem;
  filter: grayscale(1) invert(.7);
  transition: all .15s ease;
  rotate: 45deg;
}

#addChart:hover{
  filter: grayscale(1) invert(1);
}

/* - Serotype Toggles - */
.serotypeSwitch_1.active-button {
  background-color: #d4b100;
}
.serotypeSwitch_1.active-button:hover {
  background-color: #ebc817;
}
.serotypeSwitch_2.active-button {
  background-color: #b32d9d;
}
.serotypeSwitch_2.active-button:hover {
  background-color: #d144ba;
}
.serotypeSwitch_3.active-button {
  background-color: #21bee6;
}
.serotypeSwitch_3.active-button:hover {
  background-color: #3ed3f8;
}
.serotypeSwitch_4.active-button {
  background-color: #26670a;
}
.serotypeSwitch_4.active-button:hover {
  background-color: #388217;
}
