/*Title Section*/
#barTitle {
  position: absolute;
  background-color: hsl(0, 0%, 11%);
  top: 1rem;
  height: 2.6rem;
  left: 0.5rem;
  right: 0.5rem;
  border-radius: 0.7vmin;
}

.headerText {
  width: auto;
  position: absolute;
  color: rgb(169, 169, 169);
  font-size: .9rem;
  left: 2.8rem;
  right: 0rem;
}

.headerText .big {
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
}

#barchartTitle {
  bottom: 0.1rem;
  left: 2.8rem;
  text-align: left !important;
}

#barchartTitle .big {
  font-size: 1.5rem !important;
  color: rgb(214, 214, 214);
}

#barchartSubtitle {
  bottom: 0.1rem;
  right: .5rem;
  text-align: right !important;
}

/*Chart*/

#chart_panel {
  position: absolute;
  /*
  background: radial-gradient(ellipse at 30% 20%, #575257, transparent),
    radial-gradient(ellipse at 60% 80%, #41464e, transparent);*/
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1vmin;
  top: 0.2rem;
  background-color: var(--innerPanelBackgroundColor);
  cursor: default;
  box-shadow: var(--innerPanelBoxShadow);
}

#chart_container {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  top: 4rem;
  background-color: hsla(0, 100%, 36%, 0);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

#chart_container::-webkit-scrollbar {
  width: 0rem;
}

.chart_border {
  position: absolute;
  pointer-events: auto;
  background-color: hsla(0, 100%, 50%, 0);
  z-index: 1000;
}

#chart_borderTop {
  height: 3.5rem;
  left: 0rem;
  right: 0rem;
  top: 0rem;
}
#chart_borderBottom {
  height: 1rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
}
#chart_borderRight {
  width: 1rem;
  right: 0rem;
  bottom: 0rem;
  top: 0rem;
}
#chart_borderLeft {
  width: 1rem;
  left: 0rem;
  bottom: 0rem;
  top: 0rem;
}

/*Tab Labels*/

.tab_label {
  position: absolute;
  background-color: rgb(29, 29, 29);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 2rem;
  width: 2rem;
  border: solid rgb(29, 29, 29);
  cursor: default;
  z-index: 999;
}

/* All hover and change events for the tooltips and their buttons are done in barChart.js
/*Base tooltip class for when there is no interaction to make it invisible*/
.tab_label .tooltip {
  position: absolute;
  visibility: hidden;
  z-index: 9;
  opacity: 0;
  left: 5.55rem;
  top: -1px;
  height: 12px;
  width: 1rem;
  border-width: 0.2vb;
  border-radius: 0rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: rgba(32, 32, 32, 0.844);
  border-color: rgb(29, 29, 29);

  transition: all ease 0.2s;
}

#addChart {
  position: relative;
  height: 1.8rem;
  width: 1.8rem;
  left: 0.6rem;
  top: 0.1rem;
  cursor: pointer;
  font-size: 0.5rem;
  filter: grayscale(1) invert(0.7);
  transition: all 0.15s ease;
  rotate: 45deg;
}

#addChart:hover {
  filter: grayscale(1) invert(1) brightness(2);
}

/* - Serotype Toggles - */
.serotypeSwitch_1.active-button {
  background-color: #d4b100;
}
.serotypeSwitch_1.active-button:hover {
  background-color: #ebc817;
}
.serotypeSwitch_2.active-button {
  background-color: #b32d9d;
}
.serotypeSwitch_2.active-button:hover {
  background-color: #d144ba;
}
.serotypeSwitch_3.active-button {
  background-color: #21bee6;
}
.serotypeSwitch_3.active-button:hover {
  background-color: #3ed3f8;
}
.serotypeSwitch_4.active-button {
  background-color: #26670a;
}
.serotypeSwitch_4.active-button:hover {
  background-color: #388217;
}
