.configWindow {
  position: absolute;
  width: 97%;
  left: 1.1%;
  border-radius: 1rem;
  transition: all 0.5s ease;
}

#titleConfig {
  height: 2rem;
  top: 0.1rem;
  background-color: rgb(26, 26, 26);
}

#categoryConfig {
  top: 2.5rem;
  bottom: 0.1rem;
  background-color: rgb(78, 78, 78);
}

#countryConfig {
  bottom: 0.2rem;
  transition: all 0.3s ease-in;
  z-index: 11;
  width: 97%;
  left: 1.1%;
}

#countryConfig.open {
  bottom: 0.1rem;
  top: 2.5rem;
  backdrop-filter: blur(0.3rem);
  background: radial-gradient(ellipse at 30% 20%, #716671, transparent),
    radial-gradient(ellipse at 70% 90%, #39404c, transparent);
  box-shadow: 0 0.4rem 0.6rem 0.1rem rgba(0, 0, 0, 0.5);
  opacity: 100%;
  height: auto;
  visibility: visible;
}

#countryConfig.closed {
  opacity: 90%;
  bottom: 0.1rem;
  top:100%;
  visibility: hidden;
}

#configTitleText {
  position: absolute;
  top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
  width: 80%;
  left: 12%;
  color: rgb(213, 213, 213);
  z-index: 9;
}

#toggleConfigButton {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 0rem;
  top: 0.05rem;
  cursor: pointer;
  font-size: 0.5rem;
  filter: grayscale(1) invert(0.5);
  transition: all 0.15s ease;
  rotate: 0deg;
  z-index: 10;
}

#toggleConfigButton:hover {
  filter: grayscale(1) invert(0.8);
}

.categoryDiv {
  position: relative;
  background-color: rgb(43, 43, 43);
  height: 2.2rem;
  width: 95%;
  left: 2.5%;
  border-radius: 2rem;
  margin-top: 0.5rem;
}

.categoryTitle {
  top: 0.24rem;
  font-weight: 500;
  color: #bababa;
  font-size: large;
  left: 0.19rem;
  right: 4rem;
  position: absolute;
  background-color: #ffffff00;
  border: 0rem solid;
  border-radius: 0.8rem;
  transition: all 0.15s ease;
  height: 1.6rem;
  padding-left: 0.5rem;
}

.categoryTitle:hover,
.categoryTitle:focus {
  background-color: #3b3b3b;
}

.category-icon-button {
  position: absolute;
  text-align: right;
  z-index: 10;
  cursor: default;
}

.category-icon-button img {
  cursor: pointer;
  filter: grayscale(1) invert(0.5) brightness(0.7);
  transition: all 0.15s ease;
}

.category-icon-button img:hover {
  filter: grayscale(1) invert(0.5) brightness(1.5);
}

.visibility-toggle {
  top: 0.3rem;
  right: 0.4rem;
  height: 1.9rem;
  width: 1.9rem;
}

.category-edit {
  top: 0.3rem;
  right: 2.2rem;
  height: 1.8rem;
  width: 1.8rem;
}


.countryExitButton {
  position: absolute;
  border: solid 0rem rgb(213, 213, 213);
  border-radius: .3rem;
  width: 1.7rem;
  height: 1.7rem!important;
  background-color: rgba(150, 127, 150, 0.731);
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1rem;
  color: rgb(183, 183, 183);
  background-color: rgba(208, 104, 104, 0.6);
}

.countryExitButton img {
  top: .1rem;
  left: .1rem;
  position: absolute;
  transition: all 0.2s ease;
  filter: grayscale(.1) invert(.5) brightness(.7);
}

.countryExitButton:hover img {
  filter: grayscale(.1) invert(.5) brightness(1.8);
}

#countryConfig.open .countryExitButton img{
  width: 1.5rem;
  height: 1.5rem;
}

#countryConfig.closed .countryExitButton img{
  width: 0rem;
  height: 0rem !important;
}

.countryExitButton:hover {
  top: .7rem !important;
  background-color: rgb(208, 104, 104);
}

#countryConfig.open .countryExitButton{
  opacity: 100%;
  visibility: visible;
  height: 1.7rem;
  top: .8rem;
  left: .8rem;
}

#countryConfig.closed  .countryExitButton{
  opacity: 0%;
  visibility: hidden;
  height: 0rem;
  top: -2rem;
  left: .8rem;
}

#categoryTitle{
  position: absolute;
  left: 2.8rem!important;
  right: .8rem!important;
  transition: all 0.2s ease-in;
  background-color: rgb(178, 178, 178);
  color: #2b2b2b;
  font-weight: 100!important;
  font-size: 1rem;
  text-align: center;
  padding-right: 1rem;
  border-radius: .3rem;
}

#countryConfig.closed #categoryTitle{
  opacity: 0%;
  visibility: hidden;
  top: -2rem;
}

#countryConfig.open #categoryTitle{
  opacity: 100%;
  visibility: visible;
  top: .8rem;
}

#categoryTitle:hover,
#categoryTitle:focus {
  background-color: rgb(209, 209, 209);
  color: #2d3138;
}

#categoryRemove {
  position: absolute;
  width: 2rem;
  cursor: pointer;
  filter: grayscale(1) invert(0.5) brightness(1);
  transition: all 0.15s ease-out;
  left: 50%;
  transform: translateX(-1rem);
}

#categoryRemove:hover {
  filter: grayscale(.1) invert(0) brightness(2);
  bottom: 0.2rem!important;
  rotate: 6deg;
}

#countryConfig.closed #categoryRemove{
  opacity: 0%;
  visibility: hidden;
  bottom: 1rem;
  height: 0rem !important;
}

#countryConfig.open #categoryRemove{
  opacity: 100%;
  visibility: visible;
  bottom: 0.1rem;
  height: 2rem;
}

#treeContainer{
  position: absolute;
  background-color: rgba(213, 213, 213, 0.3);
  border-radius: 1rem;
  width: 90%;
  left: 5%;
  transition: all 0.2s ease-in;
  bottom: 2.4rem!important;
  top: 2.9rem!important;
  overflow: auto;
  scrollbar-width: thin;
  font-size: .1rem!important;
  color:#2b2b2b;
}

#treeContainer::-webkit-scrollbar {
  width: 0rem;
}

#countryConfig.closed #treeContainer{
  opacity: 0%;
  visibility: hidden;
}

#countryConfig.open #treeContainer{
  opacity: 100%;
  visibility: visible;
}