/* Year Input */
#title {
  color: rgb(130, 130, 130);
  position: absolute;
  right: 1rem;
  font-weight: lighter;
  font-size: 1.8rem;
  top: -0.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
}

#year {
  position: absolute;
  font-size: 2.6rem;
  height: 2.7rem;
  width: 10rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;
  color: rgb(0, 0, 0);
  left: 1rem;
  text-align: center;
  top: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 1rem;
  border: solid 0.1rem rgb(172, 172, 172);
  background-color: rgb(172, 172, 172);
  transition: all 0.2s ease;
}
#year::placeholder {
  color: rgb(0, 0, 0);
}
#year:focus::placeholder {
  color: rgb(112, 112, 112);
}
#year:focus,
#year:focus:hover {
  border: solid 0.1rem rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
#year:hover {
  border: solid 0.1rem rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

/* Data Warning */
#dataWarning {
  position: absolute;
  font-size: 1rem;
  left: 12rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
}

.data-warning-icon {
  filter: grayscale(1) invert(0.3);
  height: 2.2rem;
  transition: all 0.2s ease;
}

#dataWarning.yearWarn .data-warning-icon {
  filter: grayscale(0) invert(0);
}

.data-warning-icon:hover {
  filter: grayscale(0.8) invert(0.5);
}

#dataWarning.yearWarn .data-warning-icon:hover {
  filter: grayscale(0.7) invert(0.1);
}

/* Year Delay */

#div_yearDelay{/* the div that holds everything*/
  position: absolute;
  width: 10rem;
  height: 2.7rem;
  text-align: center;
  margin: auto;
  border-radius: 1rem;
  top: 0.5rem;
  left: 14.7rem;
  border: solid 0.1rem rgb(172, 172, 172);
  background-color: rgb(172, 172, 172);
  border-width: 0.1rem;
  line-height: 0rem;
  font-size: 0.9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
}

#label_yearDelay {/* the static label */
  position: absolute;
  font-style: italic;
  font-weight: 100 !important;
  letter-spacing: 0.05rem;
  font-size: 110%;
  line-height: 2.7rem;
  text-align: left;
  left: 0.8rem;
  color: rgb(0, 0, 0);
}

#current_yearDelay {/* the input window */
  position: absolute;
  font-size: 2.2rem;
  height: 1.8rem;
  width:3.3rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  color: rgb(0, 0, 0);
  right: 0rem;
  top: 0.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: .5rem;
  border: solid 0.1rem rgb(172, 172, 172);
  background-color: rgb(172, 172, 172);
  transition: all 0.2s ease;
  text-align: right;
  justify-content: center;
  align-items: center;
}

#current_yearDelay:focus {
  border: solid 0.1rem rgb(219, 219, 219);
  background-color: rgb(219, 219, 219);
}

#div_yearDelay:hover #current_yearDelay {
  border: solid 0.1rem rgb(219, 219, 219);
  background-color: rgb(219, 219, 219);
}

/* Timeline */
#timeControls {
  position: absolute;
  left: 3rem;
  width: 20rem;
}

.range-slider {
  position: absolute;
  right: 2rem;
  left: 5.8rem;
  cursor: pointer;
  top: .4rem;
}

.range-slider:active {
  cursor: grabbing;
}

.step {
  position: absolute;
  width: 1.8rem !important;
  top: .25rem;
}

.step img {
  filter: grayscale(1) invert(.7);
  transition: all 0.1s ease;
  width: 1.3rem;
}

.step:hover img {
  filter: grayscale(1) invert(.9);
}

#forward {
  right: .2rem;
  cursor: pointer;
}

#reverse {
  right: 14.5rem;
  cursor: pointer;
}

/* - Animation Play,Pause - */
#playButton{
  position: absolute;
  left: 1.5rem;
  margin: auto;
  top: .2rem;
}
#playButton.active-button {
background-color: rgb(53, 53, 53);
}
#playButton.active-button img {
  filter: invert(1);
}
#playButton img {
filter: invert(0.88);
height: 1.3rem;
}

/* Midpoint Controls */
/* - Midpoint Toggle - */

.midpointButton {
    width: 2.5rem;
    border-radius: 3rem;
    top: .15rem;
    height: 1.6rem;
}
.midpointButton.active-button {
  background-color: #f4f4f4;
  color: #292929;
}
.midpointButton.active-button:hover {
  background-color: #fefefe;
  font-size: 1.05rem;
}

.midpointControl-icon {
  position: relative;
  filter: grayscale(1) invert(.6);
  height: 1.3rem;
  bottom: 0rem;
  transition: all 0.2s ease;
}

.midpointButton.active-button .midpointControl-icon {
    filter: grayscale(1) invert(0);
  }

#serotypeToggles {
  position: absolute;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  right: 0.1rem;
}

#midpointToggle {
  position: absolute;
  line-height: 2rem;
  letter-spacing: 0.3rem;
  right: 10.6rem;
  width: 14rem;
  color: rgb(168, 168, 168);
  font-style: italic;
  z-index: 998;
  border-left: 0.5rem solid black;
}
