/* Year Input */
#title {
  color: rgb(130, 130, 130);
  position: absolute;
  font-weight: 100;
  font-size: 3.5vmin;
  top: 1vmin;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
  transform: translate(0%, -50%);
  left: calc(2vmin); /*var(--mapCategoriesBorder)*/
  text-align: center;
}

/* Data Warning */
#dataWarning {
  position: absolute;
  font-size: 0;
  right: 9vmin;
  top: 1.5vmin;
  width: 4vmin;
  height: 4vmin;
}

.data-warning-icon {
  filter: grayscale(0) invert(0.5);
  height: 4vmin;
  transition: all 0.2s ease;
}

#dataWarning.yearWarn .data-warning-icon {
  filter: grayscale(0) invert(0);
}

#data-warning-glow {
  position: absolute;
  left: 1.35rem;
  bottom: 1rem;
  transition: all 0.1s ease;
  z-index: 0;
}

#dataWarning.yearWarn #data-warning-glow {
  filter: grayscale(0) invert(0);
  box-shadow: 0px 0px 3vmin 2vmin rgb(178, 151, 18);
  border-radius: 10vmin;
  width: 0rem;
  height: 0rem;
}

.data-warning-icon:hover {
  filter: grayscale(0.5) invert(0);
}

#dataWarning.yearWarn .data-warning-icon:hover {
  filter: grayscale(0.5) invert(0);
}

/*
#div_yearDelay:hover #current_yearDelay {
  border: solid 0.1rem rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}*/


/* Midpoint Controls */
/* - Midpoint Toggle - */

.midpointButton {
  width: 2.2rem;
  border-radius: 3rem;
  top: 0.15rem;
  height: 1.6rem;
}

.midpointControl-icon {
  position: relative;
  height: 1.3rem;
  bottom: 0rem;
  transition: all 0.2s ease;
  top: 0.15rem;
}

.midpointButton:hover .midpointControl-icon {
  /* hover */
  top: 0.06rem;
  filter: grayscale(0) invert(0.1) !important;
}

.midpointButton.active-mid .midpointControl-icon {
  /* active */
  filter: grayscale(1) invert(0.5) brightness(0);
}

.midpointButton.inactive-mid .midpointControl-icon {
  /* inactive */
  filter: grayscale(1) invert(0.5) brightness(1);
}

#midpointToggle {
  position: absolute;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  left: 1vmin;
  bottom: 0vmin;
  width: 11rem;
  height: 2rem;
  z-index: 998;
  background-color: hsla(0, 0%, 90%, .8)  !important;
  border-radius: 0;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  transform: translate(0%, 0%);
  transition: all 0.5s ease;
  backdrop-filter: blur(.1rem);
}

#midpointToggle:hover {
  background-color: hsla(0, 0%, 90%, 1)  !important;
}
