.downloadButton {
  background-color: hsl(0, 0%, 15%);
  border: solid 0.1vmin hsl(0, 0%, 60%);
  transition: all 0.2s ease;
}

.downloadButton:hover {
  background-color: hsl(0, 0%, 0%);
  border: solid 0.1vmin hsl(0, 0%, 100%);
  box-shadow: none;
}

.downloadButton img {
  filter: invert(0.5);
  transition: all 0.2s ease;
}

.downloadButton:hover img {
  filter: invert(1);
}

#mainDownloadButton {
  border-radius: 0.5vmin;
  position: absolute;
  right: 14.8vmin;
  top: 1.5vmin;
  width: 4vmin;
  height: 4vmin;
}

#mainDownloadButton .tooltip {
  width: 10vmin;
  right: 5vmin;
  top: 110%;
  font-size: 2vmin;
  padding: 1vmin;
  line-height: 2vmin;
}

#mainDownloadButton img {
  height: 2.5vmin;
  width: 2.5vmin;
}

/* Category Download*/

.categoryDownload {
  position: absolute;
  z-index: 10;
  left: 0.3rem;
  top: 0.2rem;
  height: 1.8rem;
  width: 1.8rem;
  box-shadow: inset 0 0.05rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  background-color: hsla(0, 0%, 28%, 0);
  border-radius: 0.3rem;
  border: none;
  align-items: center;
  align-content: center;
}

.categoryDownload img {
  filter: grayscale(1) invert(0.5) brightness(1.4);
  transition: all 0.15s ease;
}

.categoryDownload:hover {
  background-color: hsla(0, 0%, 16%, .3);
  border: none;
  box-shadow: inset 0 0.05rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

.categoryDownload:hover img {
  filter: grayscale(1) invert(0.5) brightness(2);
}
