.helpIcon {
    position: absolute;
    text-align: center;
    width: 1.3rem;
    height: 1.3rem;
    background-color: rgb(255, 255, 255);
    border: medium solid rgba(255, 255, 255, 0.693);
    color: black;
    font: 15px sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 87%;
    z-index: 9999;
    border-radius: 18px;
    cursor: pointer;
    user-select: none;
    transition: all .2s ease;
    /* Standard */
  }
  
  #helpIcon_main {
    top: .11rem;
    left: .1rem;
  }
  
  #helpWindow_main {
    position: absolute;
    text-align: left;
    width: 86.1%;
    height: 88.6%;
    top: 1.8%;
    left: 1.8%;
    font: 15px sans-serif;
    font-size: 2.5vmin;
    z-index: -2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    border-radius: 15px;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 1%;
  }
  
  .helpWindow {
    background-color: rgba(29, 28, 28, 0.811);
    border-color: rgba(228, 228, 228, 0.402);
    border-width: 1px;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(.5rem);
    letter-spacing: .03rem;
    line-height: .1rem;
    border-style: solid;
    z-index: 99990;
  }

  .keybindings {
    color: rgb(255, 242, 154);
  }