/* -- Button Defaults -- */
.button {
  cursor: pointer;
  text-align: center;
  line-height: 0vmin;
  border-radius: 0.3rem;
  border: none;
  position: relative;
  color: rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon-button {
  background-color: #ffffff00;
  border-style: none;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.24),
    0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.19);
  transition: all 0.1s ease;
}

.inactive-button {
  background-color: hsl(0, 0%, 38%);
  color: hsl(0, 0%, 13%);
}

.inactive-button:hover {
  background-color: hsl(0, 0%, 44%);
  color: hsl(0, 0%, 10%);
}

.serotypeSwitch {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  bottom: .95vmin !important;
  border-radius: 1vmin;
  border: solid .3vmin hsl(0, 0%, 0%);
  font-size: 3.7vmin;
  line-height: 1vmin;
  transform: translate(-50%, 0%);
  font-weight: 500;
  box-shadow: 0 0vmin 0vmin .1vmin hsl(0, 0%, 30%);
}

.serotypeSwitch.active-button {
  color: hsl(0, 0%, 15%);
  box-shadow: 0 0vmin 0vmin .1vmin hsl(0, 0%, 70%);
}

.serotypeSwitch:hover {
  height: 5.3vmin;
  font-size: 4.2vmin;
  bottom: calc(.95vmin - .15vmin) !important;
  box-shadow: 0 0vmin 0vmin 0.15vmin hsl(0, 0%, 30%);
}

.serotypeSwitch.active-button:hover {
  color: hsl(0, 0%, 0%);
  box-shadow: 0 0vmin 0vmin 0.15vmin hsl(0, 0%, 80%);
}

/* - Serotype Toggles - */
#serotypeCheck_1.active-button {
  background-color: hsl(50, 87%, 57%);
}
#serotypeCheck_2.active-button {
  background-color: hsl(310, 70%, 53%);
}
#serotypeCheck_3.active-button {
  background-color: hsl(192, 63%, 52%);
}
#serotypeCheck_4.active-button {
  background-color: hsl(102, 61%, 28%);
}

#serotypeCheck_1 {
  left: calc(50% - 9vmin);
}
#serotypeCheck_2 {
  left: calc(50% - 3vmin);
}
#serotypeCheck_3 {
  left: calc(50% + 3vmin);
}
#serotypeCheck_4 {
  left: calc(50% + 9vmin);
}
