/* -- Button Defaults -- */
.button {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 0.3rem;
  border: 0px solid;
  top: .1rem;
  position: relative;
  color: rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button:hover {
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.24),
    0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s ease;
}
.inactive-button {
  background-color: rgb(88, 88, 88);
  color: rgb(185, 185, 185);
}
.inactive-button:hover {
  background-color: rgb(111, 111, 111);
  color: rgb(201, 201, 201);
}

/* - Serotype Toggles - */
#serotypeCheck_1.active-button {
  background-color: #D4B100;
}
#serotypeCheck_1.active-button:hover {
  background-color: #ebc817;
  font-size: 1.2rem;
  height: 1.6rem;
}
#serotypeCheck_2.active-button {
  background-color: #B32D9D;
}
#serotypeCheck_2.active-button:hover {
  background-color: #d144ba;
  font-size: 1.2rem;
  height: 1.6rem;
}
#serotypeCheck_3.active-button {
  background-color: #21BEE6;
}
#serotypeCheck_3.active-button:hover {
  background-color: #3ed3f8;
  font-size: 1.2rem;
  height: 1.6rem;
}
#serotypeCheck_4.active-button {
  background-color: #26670A;
}
#serotypeCheck_4.active-button:hover {
  background-color: #388217;
  font-size: 1.2rem;
  height: 1.6rem;
}

/* - Animation Play,Pause - */
#playButton{
    margin: auto;
    top: .2rem;
}
#playButton.active-button {
  background-color: rgb(53, 53, 53);
}
#playButton.active-button img {
    filter: invert(1);
}
#playButton img {
  filter: invert(0.88);
  height: 1.3rem;
}

/* - Year Delay - */
#input_yearDelay {
  width: 1.5rem;
  height: 1.3rem;
  border-radius: 3rem;
  border: 0px solid;
  text-align: center;
  top: -.1rem;
  position: relative;
  font-weight: 700;
  transition: all .2s;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
#input_yearDelay::placeholder {
  color: rgb(88, 88, 88);
}
#input_yearDelay.inactive-button {
  background-color: rgb(138, 138, 138);
} 
#input_yearDelay.active-button {
  background-color: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
}
#input_yearDelay.inactive-button:hover, #input_yearDelay.inactive-button:focus{
  background-color: rgb(171, 171, 171);
} 
#div_yearDelay:hover body.inactive-button {
  background-color: rgb(0, 0, 0) !important;
} 

#submit_YearDelay{
  width: 6rem;
  border-radius: 3rem;
  top: 0rem;
}
#submit_YearDelay.inactive-button:hover {
  background-color: rgb(88, 88, 88);
  color: rgb(185, 185, 185);
  cursor: default;
  box-shadow: 0;
}

