#languageSelector {
    background-color: hsl(0, 0%, 15%);
    border: solid 0.2vmin hsl(0, 0%, 60%);
    border-radius: 0.5vmin;
    position: absolute;
    right: 19.8vmin;
    top: 2vmin;
    width: 9vmin;
    height: 3vmin;
    color:hsl(0, 0%, 50%);
    transition: all 0.15s ease;
    cursor: pointer;
}

#languageSelector .tooltip {
  width: 10vmin;
  right: 5vmin;
  top: 110%;
  font-size: 2vmin;
  padding: 1vmin;
  line-height: 2vmin;
}

#languageSelector img {
  height: 2.5vmin;
  width: 2.5vmin;
}

#languageSelector:hover {
    background-color: hsl(0, 0%, 0%);
    border: solid 0.2vmin hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    box-shadow: none;
}
