:root {
  --topBorder: 6.5vmin; /* Top of the panels.  Borders the header and controlbar. */
  --bottomBorder: 1vmin; /* Bottom of the panels. */
  --leftBorder: 1.5vmin; /* Left of the panels. */
  --rightBorder: 1.5vmin; /* Right of the panels. */
  --mapTimeviewBorder: 50%; /* Border between the map and timeview. */
  --mapStatsBorder: 20%; /* Border between the map and stats. */
  --mapCategoriesBorder: 35vmin; /* Border between the map and stats. */

  --innerPanelBackgroundColor: hsl(0, 0%, 20%);
  --innerPanelBoxShadow: inset 0 .1vmin .2vmin .1vmin hsla(0, 0%, 0%, 0.5);
}

.panelDiv {
  border-radius: 1vmin;
  background-color: hsl(0, 0%, 25%);
  border: solid rgb(100, 100, 100, 0) 0.25rem;
  outline-offset: 5vmin;
  display: inline-block;
  position: absolute;
  z-index: 9;
  user-select: none;
  transition: all 0.15s ease;
}

#map {
  right: var(--rightBorder);/*calc(var(--mapStatsBorder) + 0.3rem);*/
  bottom: var(--bottomBorder);
  top: calc(var(--mapTimeviewBorder) + 0.3rem);
  left: calc(var(--mapCategoriesBorder) + 0.3rem);
  border: solid rgba(0, 0, 0, 0.71) 0.5vmin;
}

#timeview {
  right: var(--rightBorder); /*calc(var(--mapStatsBorder) + 0.3rem);*/
  bottom: calc(100% - var(--mapTimeviewBorder) + 0.3rem);
  top: var(--topBorder);
  left: calc(var(--mapCategoriesBorder) + 0.3rem);
}

#matrix { /* ! EDIT when adding matrix */
  right: var(--rightBorder);
  bottom: 59%; /* change if/when adding the matrix*/
  top: var(--topBorder);
  left: calc(100% - var(--mapStatsBorder) + 0.3rem);
}

#stats {
  right: 0rem;
  bottom: 0rem;
  top: 55%;/*42%; change back to this if/when adding the matrix*/ 
  left: 0rem;
  background-color: #00000000;
}

#config {
  right: calc(100% - var(--mapCategoriesBorder) + 0.3rem);
  bottom: var(--bottomBorder);
  top: var(--topBorder);
  left: var(--leftBorder);
}

#headings {
  top: 1rem;
  height: 1rem;
  margin: auto;
  user-select: none;
}

#controlBar {
  position: absolute;
  width: 97.4%;
  left: 1%;
  background-color: rgb(94, 94, 94);
  background: radial-gradient(ellipse at 0% 20%, #807180, transparent),
    radial-gradient(ellipse at 100% 20%, #625a69, transparent),
    radial-gradient(ellipse at 50% 100%, #4d5c74, transparent);
  height: 2rem;
  top: 4rem;
  border-radius: 2.3rem;
  padding-top: 0.5vmin;
  padding-bottom: 0.5vmin;
  padding-left: 0.5vmin;
  padding-right: 0.5vmin;
  user-select: none;
}

#serotypeToggles {
  position: absolute;
  background: linear-gradient(to bottom, hsl(0, 0%, 10%), hsl(0, 0%, 5%));
  border-radius: 1vmin;
  line-height: 2rem;
  text-align: center;
  align-items: center;
  z-index: 999;
  cursor: default;
  right: 1vmin !important;
  left: 1vmin;
  top: 1vmin;
  height: 7vmin;
  width: auto;
  box-shadow: 0 0.1vmin 0.3vmin 0.1vmin hsla(240, 16%, 4%, 0.5);
}

.control_div {
  position: relative;
  background-color: rgb(26, 26, 26);
  color: rgb(26, 26, 26);
  border-radius: 20px;
  width: 8.5rem;
  height: 2rem;
  text-align: center;
  z-index: 99;
  cursor: default;
  margin: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 0%, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 10%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 15%);
}