#map {
  display: inline-block;
  position: absolute;
  height: 75%;
  width: 97.4%;
  bottom: 3.5rem;
  left: 1%;
  border-radius: 2vmin;
  border: solid rgb(128, 128, 128) 0.5vmin;
  outline-offset: 5vmin;
}

#controlBar_top {
  position: absolute;
  width: 97.4%;
  left: 1%;
  background-color: rgba(76, 76, 76, 0.5);
  border: solid rgb(100, 100, 100, 0) 0.5vmin;
  height: 2rem;
  top: 10%;
  border-radius: 2.3rem;
}

#controlBar_bottom {
  position: absolute;
  width: 97.4%;
  left: 1%;
  background-color: rgb(100, 100, 100, 0.5);
  border: solid rgb(100, 100, 100, 0) 0.5vmin;
  height: 2rem;
  bottom: 1%;
  border-radius: 2.3rem;
}

#serotypeToggles {
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  height: 2rem;
  width: 8.5rem;
  line-height: 2rem;
  text-align: center;
  z-index: 9999;
  cursor: default;
  right: 4.5rem;
  margin: auto;
}

#midpointToggle {
    position: relative;
    bottom: 100%;
  }
  
.control_div {
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  width: 8.5rem;
  height: 2rem;
  text-align: center;
  z-index: 9999;
  cursor: default;
  margin: auto;
}

#serotypeToggles {
  line-height: 1.8rem;
  right: 4.5rem;
}

#midpointToggle {
  line-height: 2rem;
  left: 4.5rem;
}
#timelineControls {
    right: 20rem;
    background-color: rgb(115, 115, 115,0);
}
#animationControls {
  line-height: 2rem;
  bottom: 100%
}

#yearDelayControls {
  line-height: 2rem;
  left: 9rem;
  bottom: 200%;
}
