.panelDiv {
  border-radius: 3vmin;
  background-color: rgb(53, 53, 53);
  border: solid rgb(100, 100, 100, 0) 0.5vmin;
  outline-offset: 5vmin;
  display: inline-block;
  position: absolute;
  z-index: 9;
}
#map {
  right: 20%;
  bottom: 0.5rem;
  top: 42%;
  left: 1%;
  border: solid rgba(0, 0, 0, 0.71) 0.5vmin;
}

#gantt {
  right: 20%;
  bottom: 59%;
  top: 6.8rem;
  left: 1%;
}

#matrix {
  right: 1%;
  bottom: 59%;
  top: 6.8rem;
  left: 80.5%;
}

#stats {
  right: 1%;
  bottom: 0.5rem;
  top: 42%;
  left: 80.5%;
}

#headings {
  top: 0rem;
  height: 1rem;
  margin: auto;
}

#controlBar {
  position: absolute;
  width: 97.4%;
  left: 1%;
  background-color: rgb(94, 94, 94);
  border: solid rgb(100, 100, 100, 0) 0.5vmin;
  height: 2rem;
  top: 4rem;
  border-radius: 2.3rem;
}



#serotypeToggles {
  position: relative;
  background-color: rgb(5, 5, 5);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  height: 2rem;
  width: 8.5rem;
  line-height: 2rem;
  text-align: center;
  z-index: 999;
  cursor: default;
  right: 4.5rem;
  margin: auto;
}

#midpointToggle {
  position: relative;
}

.control_div {
  position: relative;
  background-color: rgb(5, 5, 5);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  width: 8.5rem;
  height: 2rem;
  text-align: center;
  z-index: 99;
  cursor: default;
  margin: auto;
}

