.sequence-control-container {
  width: 320px;
  height: 26px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  line-height: 33px;
  text-align: center;
  border: solid gray 1px;
  border-radius: 1vmin;
}

.legend-control-container {
  width: 200px;
  /*height: 30px;*/
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  /*line-height: 45px;*/
  text-align: center;
  border: solid gray 1px;
}

.legend-control-container p {
  margin: 0;
}

.range-slider {
  width: 250px;
}


.step {
  width: 60px;
}


.step img {
  width: 100%;
  height: auto;
}

.leaflet-popup-content p {
  margin: 0.2em 0;
}

.serotype {
  opacity: .6;
}

.midpoint {
  opacity: 1;
}

#heading {
  position: absolute;
  width: 10%;
  left: 2%;
  top: 0%;
  font-weight: 100;
  font-size: 140%;
}

#subheading {
  position: absolute;
  width: 10%;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: .5vmin;
  color: rgb(229, 229, 229);
  right: 2%;
  top: -2%;
  text-align: right;
}

body {
  color: rgb(140, 140, 140);
  font-family:Arial, Helvetica, sans-serif;
}

#background {
  background-image: linear-gradient(160deg, rgb(37, 37, 37), rgb(35, 35, 35));
  background-color: aqua;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

#forward {
  float: right;
  width: 8%;
}

#reverse {
  float: left;
  width: 8%;
}

#div_yearDelay {
  position: relative;
  width: 20%;
  height: 10%;
  text-align: center;
  top: 5%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#current_yearDelay {
  font-size: 150%;
  font-style: normal;
  font-weight: bold;
  color: rgb(229, 229, 229);
}

#label_yearDelay {
  font-style: italic;
  font-weight: 200;
  font-size: 100%;
}

#submit_YearDelay {
  cursor: pointer;
}