.sequence-control-container {
  width: 320px;
  height: 26px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  line-height: 33px;
  text-align: center;
  border: solid gray 0.1rem;
  border-radius: 0.5rem;
}

.legend-control-container {
  width: 200px;
  /*height: 30px;*/
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  /*line-height: 45px;*/
  text-align: center;
  border: solid gray 1px;
}

.legend-control-container p {
  margin: 0;
}

.range-slider {
  width: 250px;
  cursor: pointer;
}

.range-slider:active {
  cursor: grabbing;
}

.step {
  width: 60px;
}

.step img {
  width: 100%;
  height: auto;
}

.leaflet-popup-content p {
  margin: 0.2em 0;
}

.serotype {
  opacity: 0.7;
}

.midpoint {
  opacity: 1;
}

#title {
  color: rgb(130, 130, 130);
  position: absolute;
  right: 1rem;
  font-weight: lighter;
  font-size: 1.8rem;
  top: -0.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
}

#year {
  position: absolute;
  font-size: 2.6rem;
  height: 2.7rem;
  width: 10rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;
  color: rgb(0, 0, 0);
  left: 1rem;
  text-align: center;
  top: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 1rem;
  border: solid 0.1rem rgb(211, 211, 211);
  background-color: rgb(211, 211, 211);
  transition: all 0.2s ease;
}
#year::placeholder {
  color: rgb(0, 0, 0);
}
#year:focus::placeholder {
  color: rgb(112, 112, 112);
}
#year:focus,
#year:focus:hover {
  border: solid 0.1rem rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
#year:hover {
  border: solid 0.1rem rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

#dataWarning {
  position: absolute;
  font-size: 1rem;
  left: 12rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
}

.data-warning-icon {
  filter: grayscale(1) invert(.3);
  height: 2.2rem;
  transition: all 0.2s ease;
}

#dataWarning.yearWarn .data-warning-icon {
  filter: grayscale(0) invert(0);
}

.data-warning-icon:hover {
  filter: grayscale(.8) invert(.5);
}

#dataWarning.yearWarn .data-warning-icon:hover {
  filter: grayscale(.7) invert(.1);
}

#div_yearDelay {
  position: absolute;
  width: 10rem;
  height: 2.7rem;
  text-align: center;
  margin: auto;
  border-radius: 1rem;
  top: .5rem;
  left: 14.7rem;
  border: solid 0.1rem rgb(121, 121, 121);
  background-color: rgb(121, 121, 121);
  border-width: 0.1rem;
  line-height: 0rem;
  font-size: 0.9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
}

body {
  color: rgb(140, 140, 140);
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#background {
  background-image: linear-gradient(160deg, rgb(19, 18, 20), rgb(27, 27, 37));
  background-color: aqua;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

#forward {
  float: right;
  width: 8%;
  cursor: pointer;
}

#reverse {
  float: left;
  width: 8%;
  cursor: pointer;
}

#label_yearDelay {
  position: absolute;
  font-style: italic;
  font-weight: 100 !important;
  letter-spacing: 0.05rem;
  font-size: 110%;
  line-height: 2.7rem;
  text-align: left;
  left: 0.8rem;
  color: rgb(0, 0, 0);
}

#current_yearDelay {
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  color: rgb(0, 0, 0);
  line-height: 2.5rem;
  right: 1.1rem;
  text-align: left;
}

#submit_YearDelay {
  cursor: pointer;
}

#map {
  z-index: 9;
}