#resizeTool {
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0);
    cursor: ns-resize;
    z-index: 100;
    height: auto;
    width: auto;
    right: calc(var(--rightBorder) + 2rem);
    left: calc(var(--mapCategoriesBorder) + 0.3rem + 2rem);
    bottom: calc(100% - var(--mapTimeviewBorder) - 0.25rem);
    top: calc(var(--mapTimeviewBorder) - 0.25rem);
    border-radius: 1rem;
}

#resizeTool:hover {
    background-color: hsla(0, 0%, 0%, 0);
    border: 0.1rem solid hsl(0, 0%, 40%);
}