.tooltip {
  visibility: hidden;
  background-color: rgba(224, 224, 224, 0.751);
  border: 0.1rem solid rgba(228, 228, 228, 0.914);
  backdrop-filter: blur(.1rem) !important;
  width: 10rem;
  height: fit-content;
  color: #000000;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.3rem 0.3rem;
  position: absolute;
  z-index: 999;
  left: 50%;
  margin-left: -60px;
  cursor: default;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.2s;
  transition-delay: 0.2s;
}

.tooltip.bottom-L {
  top: 110%;
  margin-left: -8.5rem;
}

.tooltip.bottom-C {
  top: 100%;
  margin-left: -5.5rem;
  z-index: 1;
}

.playTooltip {
  top: 110%;
  margin-left: -4rem;
  width: 9rem !important;
}

.icon-button:nth-child(1) .tooltip {
  left: 33%;
}

.icon-button:nth-child(2) .tooltip {
  left: 63%;
}

.icon-button:nth-child(3) .tooltip {
  left: 85%;
}

.icon-button:nth-child(4) .tooltip {
  left: 90%;
  width: 9rem;
}

.button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.icon-button .tooltip {
  width: fit-content;
}
.icon-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.serotypeSwitch .tooltip {
  margin-left: -9rem;
}

.tooltip.dataTooltip {
  top: 110%;
  margin-left: -1rem;
  z-index: 999999;
}

#dataWarning:hover .tooltip {
  visibility: visible;
  opacity: 1;
  padding: 0.5rem 1rem;
  width: 22rem;
}

#title:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.helpIcon:hover .tooltip {
  width: 3rem;
  top: 110%;
  margin-left: -1rem;
}

#year:hover .yearInputDiv.tooltip {
  visibility: visible;
  opacity: 1;
  width: 100rem;
  height: 100rem;
  color: red;
  z-index: 99999;
}

/* All hover and change events for the tooltips and their buttons are done in barChart.js
/*Base tooltip class for when there is no interaction to make it invisible*/
.tab_label .tooltip {
  position: absolute;
  visibility: hidden;
  z-index: 9;
  opacity: 0;
  left: 5.55rem;
  top: -.1rem;
  height: 1.11rem;
  width: 1rem;
  border-width: 0.2vb;
  border-radius: 0rem;
  border-top-right-radius: 3vb;
  border-bottom-right-radius: 3vb;
  background-color: rgba(32, 32, 32, 0.844);
  border-color: rgb(29, 29, 29);

  transition: all ease 0.2s;
}

/* this is the base class for the buttons in the tooltip*/
.button.typeTool {
  position: relative;
  visibility: hidden;
  opacity: 0;
  left: 2.45rem !important;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  z-index: 99999;

  /* Adjust the position of the buttons */
  margin-top: 0.15rem; /* Increase or decrease as needed */
  margin-left: 0rem; /* Increase or decrease as needed */

  transition: all ease 0.1s;
}


